.container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

th {
  background-color: #f4f4f4;
}

input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    text-align: left;
  }

  td {
    text-align: left;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    white-space: nowrap;
  }
}
